@import './variables';

body {
  font-family: 'Garamond',sans-serif;
  background-color: $background-color;
  color: $primary-color;
}

h1 {
  color: $primary-color;
}

.app-container {
  display: flex;
  flex-direction: column;
  .app-logo {
    width: 40%;
    margin: 40px auto;
  }
  .container {
    position: relative;
  }
}

.search-page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 40px;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
  }
}