@import './variables';

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $primary-color;
}

h1 {
  color: $primary-color;
}

.app-container {
  display: flex;
  flex-direction: column;
  .app-logo {
    height: 128px;
    width: fit-content;
    margin: 40px auto;
  }
  padding: 0 128px;
}