@import '../../../styles/variables';

.search-stories-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  position: relative;
  @media (min-width: $breakpoint-lg) {
    padding: 0.75rem 4rem 0 0;
  }
  label {
    margin-bottom: 4px;
  }
  input {
    border: 1px solid $primary-color;
    border-radius: 4px;
    padding: 0.4rem 0.8rem;
  }
  .clear-button {
    position: absolute;
    right: 75px;
    top: 60px;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    &:hover {
      color: $secondary-color;
    }
    @media (max-width: $breakpoint-lg) {
      right: 12px;
      top: 48px;
    }
  }
  ul.search-results {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
  }
}