@import '../../../styles/variables';

.favorite-stories-section {
  .favorites-wrapper {
    position: sticky;
    top: 8px;
    .header {
      font-size: 20pt;
      text-align: center;
    }
    .content {
      list-style: none;
      padding: 0;
    }
  }
}